{% extends 'common_code/base.html' %}

{% block title %}
    Confirm Delete
{% endblock title %}


{% block content %}
<div class="container">
    <form class="jumbotron" method="post">
        {% csrf_token %}
        <h2>Are you sure you want to delete <span class="text-danger">{{teacher.tname}}</span>? </h2>
        <input type="submit" value="YES" class="btn btn-danger">
        <button class="btn btn-success" ><a style = "color:white" href="{% url 'teacher_info' %}">No</a></button>
    </form>
</div>
{% endblock content %}
    
    